body {
    margin: 0;
    padding: 0;
    background: white;
      font-family: 'Open Sans', sans-serif;
      
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }